<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <title>TimeSheet</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>
    </style>

</head>
<body>

    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">
        <a class="navbar-brand mr-1" href="@Url.Action("Index","Home")">Time Sheet</a>
    </nav>
    <div id="content-wrapper">
        <div class="container-fluid">
            @RenderBody()
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
</body>
</html>
